.tasksList {
    padding: 20px;
    margin: 5px;
    background-color: #fff;
    list-style-type: none;
}

.tasksList__item {
    display: grid;
    grid-template-columns: 1fr 70% 5fr;
    padding: 10px;
    border-bottom: 2px solid #eee;
    margin-bottom: 10px;
}

.tasksList__spanTask {
    color: #666;
    overflow-wrap: anywhere;
    word-break: break-world;
}

.tasksList__spanTask--done {
    text-decoration: line-through;
}

.tasksList__button {
    color: #eee;
    background-color: red;
    border: none;
    cursor: pointer;
}

.tasksList__button--done {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    font-size: 12px;
    background-color: green;
}

.tasksList__spanRemove {
    text-align: right;
}